@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}

< <h1 id="judul" class="judul">POKEMON</h1>
<div class="container" id="containerID">
    <!-- <section id="a">
        <p class="p1">paragraf ke-1</p>
        <p class="p2">paragraf ke-2</p>
        <p class="p3">paragraf ke-3</p>
        <p class="p4">paragraf ke-4</p>
    </section>
    <section id="b">
        <p id="a"> paragraf ke-5</p>
        <ul id="listPoke">
            <li class="list">ini sebuah list</li>
            <li class="list">ini sebuah list</li>
            <li class="list">ini sebuah list</li>
            <li class="list">ini sebuah list</li>
        </ul> -->

    <table class="table table-striped table-hover" id="idTablePokemon">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    @*</section>*@
</div>


<!-- Modal -->
<div class="modal fade" id="modalDetailPoke" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Pokemon</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <h1 id="nama"></h1>
                    </div>
                    <div class="card-type">
                        <p id="tipePokemon"></p>
                    </div>
                </div>
                <div>
                    <p class="gambar"></p>
                </div>

                <div>
                    <p id="ability" style="text-align: center"></p>
                </div>
                <div>
                    <p id="berat"></p>
                    <p id="tinggi"></p>
                </div>

                <div class="card-stat">
                    <p id="darah"></p>
                    <p id="serangan"></p>
                    <p id="pertahanan"></p>
                    <p id="seranganSpesial"></p>
                    <p id="pertahananSpesial"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
